body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4285;
  color: #333;
  background-color: #fff;
}

.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar {
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.nav {
  display: flex;
  padding-left: 0px;
  margin-bottom: 0px;
  list-style: none;
}

.nav > li {
  position: relative;
  display: inline-block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}

.navbar-inverse .navbar-nav > li > a {
  color: #999;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
